<div class="card mb-3">
  <h2 class="card-header h4">
    Listing #<%= listing.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Price</dt>
      <dd><%= listing.price %></dd>

      <dt>Category</dt>
      <dd>
        <% if @listing.category.present? %>
          <%= link_to listing.category, listing.category %>
        <% end %>
      </dd>

      <dt>Image</dt>
      <dd>
        <%= cl_image_tag @listing.image, class: "img-fluid" %>
      </dd>

      <dt>Location</dt>
      <dd>
        <div>
          <%= render partial: "listings/one_photo_map" %>
        </div>
      </dd>

      <dt>Description</dt>
      <dd><%= listing.description %></dd>

      <dt>Contact</dt>
      <dd>
        <% if @listing.contact.present? %>
          <%= link_to listing.contact, listing.contact %>
        <% end %>
      </dd>

      <dt>Item</dt>
      <dd><%= listing.item_id %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back listing, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_listing_url(listing), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to listing, method: :delete, data: { confirm: "Do you really want to delete this listing?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(listing.updated_at) %> ago
  </div>
</div>
