<% was_validated = listing.errors.any? %>

<%= form_with(model: listing, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for price start -->
  <div class="form-group">
    <% price_class = "form-control" %>
    <% price_was_invalid = listing.errors.include?(:price) %>

    <% if was_validated %>
      <% if price_was_invalid %>
        <% price_class << " is-invalid" %>
      <% else %>
        <% price_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :price %>
    <!-- Input for price start -->
    <%= f.number_field :price, class: price_class, placeholder: "Enter price" %>
    <!-- Input for price end -->
    <% if price_was_invalid %>
      <% listing.errors.full_messages_for(:price).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for price end -->
  <!-- Label and input for category_id start -->
  <div class="form-group">
    <% category_class = "form-control" %>
    <% category_was_invalid = listing.errors.include?(:category) %>

    <% if was_validated %>
      <% if category_was_invalid %>
        <% category_class << " is-invalid" %>
      <% else %>
        <% category_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :category_id %>
    <!-- Input for category_id start -->
    <%= f.collection_select :category_id, Category.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for category_id end -->
    <% if category_was_invalid %>
      <% listing.errors.full_messages_for(:category).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for category_id end -->
  <!-- Label and input for image start -->
  <div class="form-group">
    <% image_class = "form-control" %>
    <% image_was_invalid = listing.errors.include?(:image) %>

    <% if was_validated %>
      <% if image_was_invalid %>
        <% image_class << " is-invalid" %>
      <% else %>
        <% image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :image %>
    <!-- Input for image start -->
    <%= f.file_field :image, class: "form-control" %>
    <!-- Input for image end -->
    <% if image_was_invalid %>
      <% listing.errors.full_messages_for(:image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for image end -->
  <!-- Label and input for location start -->
  <div class="form-group">
    <% location_class = "form-control" %>
    <% location_was_invalid = listing.errors.include?(:location) %>

    <% if was_validated %>
      <% if location_was_invalid %>
        <% location_class << " is-invalid" %>
      <% else %>
        <% location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :location %>
    <!-- Input for location start -->
    <%= f.text_field :location, class: location_class, placeholder: "Enter location" %>
    <!-- Input for location end -->
    <% if location_was_invalid %>
      <% listing.errors.full_messages_for(:location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for location end -->
  <!-- Label and input for description start -->
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = listing.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <!-- Input for description start -->
    <%= f.text_area :description, class: description_class, placeholder: "Enter description" %>
    <!-- Input for description end -->
    <% if description_was_invalid %>
      <% listing.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for description end -->
  <!-- Label and input for contact_id start -->
  <div class="form-group">
    <% contact_class = "form-control" %>
    <% contact_was_invalid = listing.errors.include?(:contact) %>

    <% if was_validated %>
      <% if contact_was_invalid %>
        <% contact_class << " is-invalid" %>
      <% else %>
        <% contact_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :contact_id %>
    <!-- Input for contact_id start -->
    <%= f.collection_select :contact_id, Contact.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for contact_id end -->
    <% if contact_was_invalid %>
      <% listing.errors.full_messages_for(:contact).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for contact_id end -->
  <!-- Label and input for item_id start -->
  <div class="form-group">
    <% item_class = "form-control" %>
    <% item_was_invalid = listing.errors.include?(:item) %>

    <% if was_validated %>
      <% if item_was_invalid %>
        <% item_class << " is-invalid" %>
      <% else %>
        <% item_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_id %>
    <!-- Input for item_id start -->
    <%= f.number_field :item_id, class: item_class, placeholder: "Enter item" %>
    <!-- Input for item_id end -->
    <% if item_was_invalid %>
      <% listing.errors.full_messages_for(:item).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for item_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
