<% was_validated = category.errors.any? %>

<%= form_with(model: category, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% item_class = "form-control" %>
    <% item_was_invalid = category.errors.include?(:item) %>

    <% if was_validated %>
      <% if item_was_invalid %>
        <% item_class << " is-invalid" %>
      <% else %>
        <% item_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_id %>
    <%= f.number_field :item_id, class: item_class, placeholder: "Enter item" %>
    <% if item_was_invalid %>
      <% category.errors.full_messages_for(:item).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
